body {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}
.card img {
  /*  checking out css comment */
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
.card {
  width: 300px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
}
